
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    
}

#nav-link{
    /* border: 1px solid red; */
    display: flex;
    width: 365px;
    justify-content: space-between;
    
}

#nav-link li{
    list-style: none;

}

#nav-link a{
    text-decoration: none;
    color: black;
}

#nav-button{
    
    width: 164px;
    height: 44px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    color: white;
}

#hero-container{
    /* border: 5px solid yellow; */
    /* max-width: 1600px; */
    height: 674px;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 115px 120px 0px 120px;
}

#hero-div{
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-box{
    width: 229px;
    height: 35px;
    /* border: 2px solid white; */
    background-color: white;
    color: #469165;
    border-radius: 20px;
    padding-top: 7px;
}

#hero-fisr-heading{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
}

#hero-second-heading{
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
    margin-bottom: 16px;
}

#hero-paragrap{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

#hero-btn{
    display: flex;
    gap: 10px;
}

#hero-btn1{
    width: 251px;
    height: 52px;
    border-radius: 4px;
    padding: 16px 12px;
    
}

#hero-btn1{
    width: 198PX;
    height: 52PX;
    border-radius: 4px;
    padding: 16px 12px;
    
}