
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    
}

#nav-link{
    /* border: 1px solid red; */
    display: flex;
    width: 365px;
    justify-content: space-between;
    
}

#nav-link li{
    list-style: none;

}

#nav-link a{
    text-decoration: none;
    color: black;
}

#nav-button{
    
    /* width: 164px;
    height: 44px; */
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    color: white;
    cursor: pointer;
}

#hero-container{
    /* border: 5px solid yellow; */
    /* max-width: 1600px; */
    height: 674px;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 115px 120px 0px 120px;
}

#hero-div{
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-box{
    width: 229px;
    height: 35px;
    /* border: 2px solid white; */
    background-color: white;
    color: #469165;
    border-radius: 20px;
    padding-top: 7px;
}

#hero-fisr-heading{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
}

#hero-second-heading{
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
    margin-bottom: 16px;
}

#hero-paragrap{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

#hero-btn{
    display: flex;
    gap: 10px;
}

#hero-btn1{
    width: 251px;
    height: 52px;
    border-radius: 4px;
    padding: 16px 12px;
    
}

#hero-btn1{
    width: 198PX;
    height: 52PX;
    border-radius: 4px;
    padding: 16px 12px;
    
}

#fail-container{
    /* border: 3px solid red; */
    /* max-width: 1360px; */
    padding: 0px 120px;
    background-color: ;
    margin-bottom: 44px;
}

#fail-heading{
    text-align: center;
    padding-top: 50px;
}

#fail-heading h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

#fail-heading p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;

}

#fail-box{
    display: flex;
    gap: 24px;
    justify-content: center;
    background-color: #FFFFFF;

    
}

.fail-card{
    /* border: 2px solid brown; */
    padding: 69px 24px;
    text-align: center;
    max-width: 332px;
    box-shadow: 0 6px 50px 0 #0000002a;
}

.fail-card img{
    background-color: #F95555;
    width: 60px;
    /* height: 60px; */
    border-radius: 50%;
}

.fail-card h5{
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.fail-card p{
    font-size: 16px;
    line-height: 20px;
    font-weight: regular;
    color: #627382;
}

#solution-container{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    
    padding: 120px;
    
}

#solution-container #sed-div{
    border: 3px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    gap: 60px;
}

#sed-div #solution-title{
    font-size: 16px;
    
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}


#sed-div #solution-h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

#sed-div #solution-para{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 16px;
}

#sed-div ul li{
    font-size: 16px;
    line-height: 20px;
    color: #001931;
}